<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.hajoeichler.de/jenkins/JobConfig" 
       class = "de.hajoeichler.jenkins.jobConfig.JobConfigPackage"
       genModel = "de/hajoeichler/jenkins/JobConfig.genmodel" /> 
	
  </extension>




</plugin>
