<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand.sdk.feature.group" version="0.0.0"/>
<unit id="org.junit4" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/indigo/"/>
</location>
</locations>
</target>
